.date-input {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 4px 10px;
  background-color:  var(--text-white);
  cursor: pointer;
  min-width: 70px;
}

.date-text {
  font-size: 13px;
  color: #6C7180;
}

.react-datepicker-wrapper,.react-datepicker__input-container{
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1248px) {
  .date-input {
    gap: 4px;
    min-width: 60px;
    padding: 4px 6px;
  }
  .date-text {
    font-size: 11px;
  }
  svg {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 1024px) {
  .date-input {
    gap: 2px;
    min-width: 50px;
    padding: 2px 4px;
  }
  .date-text {
    font-size: 10px;
  }
  svg {
    width: 12px;
    height: 12px;
  }
}