.table.meet-table {
  --bs-table-border-color: var(--border-color);
  border: 1px solid var(--border-color);
}
.meet-table thead th{
  --bs-table-bg: var(--table-header-bg);
  border-bottom: none;
}

.meet-table th, td{
  vertical-align: middle;
}

.meet-table tr th:last-child, .meet-table tr td:last-child {
  border-left: 1px solid var(--border-color);
  text-align: end;
}

tr td:nth-last-child(2) {
   border-right: 1px solid var(--border-color);
}

.table  tr th, .table tr td {
  font-size: 13px;
}
