.border-gray-1 {
  border: 1px solid gray;
}
.border-gray-left-1 {
  border-left: 1px solid gray;
}

tr th:last-child, tr td:last-child {
  border-left: 1px solid gray;
  text-align: end;
}

.table  tr th, .table tr td {
  font-size: 13px !important;
}

.cursor-pointer {
  cursor: pointer;
}